/* Set code fonts */
.rst-content code,
.rst-content tt {
  font-family:
    Hack,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    Liberation Mono,
    Courier New,
    Courier,
    monospace;
}

/* Copy code button */
pre {
  position: relative;
}

pre button.copy-code-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  display: none;
}

pre:hover button.copy-code-btn {
  display: unset;
}
